



<html>
    <head>
        <title>feedbackview |  Admin Panel | Employee Management System</title>
    
    </head>
    <body>
        <header>
            <nav>
                <h1>EMS</h1>
                <ul id="navli">
                    <li><a class="homeblack" routerLink="/adminland" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                    <li><a class="homeblack" routerLink="/addemp" routerLinkActive="active" ariaCurrentWhenActive="page">Add Employee</a></li>
                    <li><a class="homeblack" routerLink="/assign" routerLinkActive="active" ariaCurrentWhenActive="page">Assign Project</a></li>
                    <li><a class="homeblack" routerLink="/companies" routerLinkActive="active" ariaCurrentWhenActive="page">Companies</a></li>
                    <li><a class="homeblack" routerLink="/empdetails" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Details</a></li>
                    <li><a class="homeblack" routerLink="/userdetails" routerLinkActive="active" ariaCurrentWhenActive="page">Userdeatils</a></li>
                    <li><a class="homeblack" routerLink="/ps" routerLinkActive="active" ariaCurrentWhenActive="page">ProjectStatus</a></li>
                    <li><a class="homeblack" routerLink="/feedview" routerLinkActive="active" ariaCurrentWhenActive="page">Feedback View</a></li>
                    <li><a class="homeblack" routerLink="/adminlogin" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a></li>
                </ul>
            </nav>
        </header>
        
        <div class="divider"></div>
    
            <table>
                <tr>
    
                    <th align = "center">Name</th>
                    <th align = "center">Company</th>
                    <th align = "center">Rating</th>
                    <th align = "center">Feeback</th>
                    <th align = "center">Reply</th>

                    
                    
                    
                </tr>
               <tr>
                <td align="centre">ghost</td>
                <td align="centre">Infinite</td>
                <td align="centre">4.5</td>
                <td align="centre">very gud</td>
                <td align="centre"><button>reply</button></td>
    
               </tr>
    
                
    
            </table>
            
        
    </body>
    </html>