<!DOCTYPE html>
<html>

<head>
   

    <!-- Title Page-->
    <title>Add Employee | Employee Management System</title>

  

    <!-- Main CSS-->
    
</head>

<body>
    <header>
        <nav>
            <h1>EMS</h1>
            <ul id="navli">
                <li><a class="homeblack" routerLink="/adminland" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                <li><a class="homeblack" routerLink="/addemp" routerLinkActive="active" ariaCurrentWhenActive="page">Add Employee</a></li>
                <li><a class="homeblack" routerLink="/assign" routerLinkActive="active" ariaCurrentWhenActive="page">Assign Project</a></li>
                <li><a class="homeblack" routerLink="/companies" routerLinkActive="active" ariaCurrentWhenActive="page">Companies</a></li>
                <li><a class="homeblack" routerLink="/empdetails" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Details</a></li>
                <li><a class="homeblack" routerLink="/userdetails" routerLinkActive="active" ariaCurrentWhenActive="page">Userdeatils</a></li>
                <li><a class="homeblack" routerLink="/ps" routerLinkActive="active" ariaCurrentWhenActive="page">ProjectStatus</a></li>
                <li><a class="homeblack" routerLink="/feedview" routerLinkActive="active" ariaCurrentWhenActive="page">Feedback View</a></li>
                <li><a class="homeblack" routerLink="/adminlogin" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="divider"></div>




    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Employee deatils</h2>
                    <form action="process/addempprocess.php" method="POST" enctype="multipart/form-data">


                        

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                     <input class="input--style-1" type="text" placeholder="Emloyee Name" name="Ename" required="required">
                                </div>
                            </div>
                           





                        <div class="input-group">
                            <input class="input--style-1" type="email" placeholder="Email" name="email" required="required">
                        </div>
                        
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="gender">
                                            <option disabled="disabled" selected="selected">GENDER</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-group">
                            <input class="input--style-1" type="number" placeholder="Contact Number" name="contact" required="required" >
                        </div>

                        <div class="input-group">
                            <input class="input--style-1" type="number" placeholder="EID" name="eid" required="required">
                        </div>

                        
                         <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Address" name="address" required="required">
                        </div>

                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Department" name="dept" required="required">
                        </div>

                        
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

</body>

</html>
<!-- end document-->

