


<html>
    <head>
        <title>Project Status |  Admin Panel | Employee Management System</title>
        
    </head>
    <body>
        <header>
            <nav>
                <h1>EMS</h1>
                <ul id="navli">
                    <li><a class="homeblack" routerLink="/userland" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                    <li><a class="homeblack" routerLink="/userassign" routerLinkActive="active" ariaCurrentWhenActive="page">Assign Project</a></li>
                    <li><a class="homeblack" routerLink="/useremp" routerLinkActive="active" ariaCurrentWhenActive="page">Useremployee</a></li>
                    <li><a class="homeblack" routerLink="/cc" routerLinkActive="active" ariaCurrentWhenActive="page">Cost Calculation</a></li>
                    <li><a class="homeblack" routerLink="/ups" routerLinkActive="active" ariaCurrentWhenActive="page">Project Status</a></li>
                    <li><a class="homeblack" routerLink="/userfeed" routerLinkActive="active" ariaCurrentWhenActive="page">Feedback</a></li>
                    <li><a class="homeblack" routerLink="/userlogin" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a></li>
                </ul>
            </nav>
        </header>
        
        <div class="divider"></div>
    
            <table>
                <tr>
    
                    
                    <th align = "center">Emp. ID</th>
                    <th align = "center">Project Name</th>
                    <th align = "center">Due Date</th>
                    <th align = "center">Status</th>
                    <th align = "center">Option</th>
                    
                </tr>
                <tr>
                    <td align="center">1001</td>
                    <td align="center">Web app</td>
                    <td align="center">08/09/2022</td>
                    <td align="center">working</td>
                    <td align="center"><button>Cancel</button></td>
                    
                </tr>
    
                
    
            </table>
            
        
    </body>
    </html>
